
body{
    background-image: url(img/bg.jpg);
    background-repeat: repeat;
}
.main{
    display: grid;
    grid-template-columns: 29% 69%;
    grid-template-areas: 
    'cabecalho cabecalho'
    'ideias notation'
    'sumario sumario';
    gap: 10px;
}
.cabecalho{
    grid-area: cabecalho;
    text-align: center;
    background-color:cadetblue;
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: 'Fredoka One', cursive;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    left: 50px;
    right: 50px;
}
.ideias{
    grid-area: ideias;
    background-color: rgb(243, 5, 5,0.5);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 130px;
    left: 50px;
    right: 950px;
    border-radius: 30px;
    border: solid red 3px; 
    text-align: center;   
}
.notation{
    grid-area: notation;
    background-color: rgb(4, 143, 237,0.5);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 130px;
    left: 500px;
    right: 50px;
    border-radius: 30px;
    border: solid blue 3px;
    text-align: center;
}
.sumario{
    grid-area: sumario;
    background-color: rgb(243, 251, 13,0.5);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    position: relative;
    top: 600px;
    left: 20px;
    right: 20px;
    border-radius: 30px;
    border: solid rgb(238, 167, 13) 3px;
    min-height: 120px;
}
.imagem {
    position: fixed;
    width: 100%;
    height: 100%;
}
li {
text-align: left;
list-style: none;
}
ul {
text-align: left;
}
.title-area{
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
.input-text{
    background-color: transparent;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    border-bottom: 2px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.input-text:focus{
    border-bottom: 2px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
i{
    font-size: 0.9rem;
    color: #fff
}
